{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="well" style="height:350px;">
        <div class="col-md-2">
            <img src={% static 'img/images.png' %} class="img-thumbnail" width="50" height="50" style="float:right; position:relative; top:20px;">
        </div>
        <div class="col-md-10">
            <h1>What is Django?</h1>
            <p>Jango is a free and open source web application framework, written in Python. A web framework is a set of components that helps you to develop websites faster and easier.
                When you're building a website, you always need a similar set of components: a way to handle user authentication (signing up, signing in, signing out), a management panel for your website, forms, a way to upload files, etc.
                Luckily for you, other people long ago noticed that web developers face similar problems when building a new site, so they teamed up and created frameworks (Django being one of them) that give you ready-made components to use.
                Frameworks exist to save you from having to reinvent the wheel and to help alleviate some of the overhead when you’re building a new site.
            </p>
            <button type="button" class="btn btn-info" style="position:relative; top:30px;">Like</button>
            <a style="float:right;" href="#">Answers (3)</a>
            <div style="text-align:right;">
                <span style="font-family:Ubuntu Mono; font-size:20px;">Tags:</span>
                <a href="#">Perl</a>
                <a href="#">Django</a>
            </div>
        </div>
    </div>
    <hr>
    <h1 style="font-family: Ubuntu Mono;">Answers</h1>
    {% for i in "n"|ljust:"3" %}
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <img src={% static 'img/images.png' %} class="img-thumbnail" width="50" height="50" style="float:right; position:relative; top:20px;">
            <button type="button" class="btn btn-info" style="position:relative; top:80px; left:60px;">Like</button>
        </div>
        <div class="col-md-9">
            <h1>What is Django?</h1>
            <p>Jango is a free and open source web application framework, written in Python. A web framework is a set of components that helps you to develop websites faster and easier.
                When you're building a website, you always need a similar set of components: a way to handle user authentication (signing up, signing in, signing out), a management panel for your website, forms, a way to upload files, etc.
                Luckily for you, other people long ago noticed that web developers face similar problems when building a new site, so they teamed up and created frameworks (Django being one of them) that give you ready-made components to use.
                Frameworks exist to save you from having to reinvent the wheel and to help alleviate some of the overhead when you’re building a new site.
            </p>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Correct
                    </label>
    			</div>
  			</div>
        </div>
        {% endfor %}
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <div class="form-group">
            <textarea class="form-control" rows="10" placeholder="Type your answer here."></textarea>
        </div>
        <button type="button" class="btn btn-primary btn-lg">Answer</button>
    </div>
{% endblock %}

{% block pagination %}
{% endblock %}
