{% load static %}

<ul class="nav navbar-nav navbar-right">
    <img src={% static 'img/images.png' %} class="img-circle" width="50" height="50" style="float:left;">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false" style="font-family:Ubuntu Mono; font-size:20px;">{{ user.username }}<span
                class="caret"></span></a>
        <ul class="dropdown-menu">
            {% if user.is_superuser %}
                <li><a href="/admin">Admin</a></li>
            {% endif %}
            <li><a href="{% url 'settings' %}">Settings</a></li>
            <li><a href="#">Messages</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
        </ul>
    </li>
</ul>
