{% load static %}

<ul class="nav navbar-nav navbar-right">
    <img src={% static 'img/images.png' %} class="img-circle" width="50" height="50" style="float:left;">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dr. Spencer<span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% url 'settings_page' as settings_url %}
            <li><a href="{{ settings_url }}">Settings</a></li>
            <li><a href="#">Messages</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </li>
</ul>
